html {
}

body {
	font-family: 'Yantramanav', sans-serif;
	font-weight:300;
	letter-spacing:.03rem;
	font-size:1.6rem;
}

h1 {
	padding-top:4rem;
	font-family: 'Rokkitt', serif;
	font-weight:700;
}

h2 {
	padding-top:4rem;
	font-family: 'Rokkitt', serif;
	font-weight:700;
}

h4 {

	font-family: 'Rokkitt', serif;
	font-weight:700;
	font-size:2rem;
	color:#333333;
}

h6{
	font-family: 'Yantramanav', sans-serif;
	font-weight:300;
	font-size:2.1rem;
}

.push-top{
	margin-top:20px;
}

.push-bottom{
	margin-bottom:30px;
}

.new-icon{
	width:45px;
}

.center {
	text-align:center;
	padding-left:2rem;
	padding-right:2rem;
	padding-bottom:1rem;
}

.row {
	margin-bottom: 2rem;
	margin-top:2rem;
}

.footer {
	margin-bottom: 3rem;
	margin-top:4rem;
}

.map {
	width:100%;
	height:40rem;
}

.heavy {
	font-weight:700;
}


/* Full Width 'Jumbotron' */

.full{
	background-image:url("../img/banner.jpg");
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.6);
	height:35rem;
	background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
  
}



@media (min-width: 768px) {
	.full{
		min-height:35rem;
		background-size: 100%;
	}


}

.button{
  	font-family: 'Rokkitt', serif;
  	font-size:2rem;
  	color:#333333;
    padding: .5rem 2rem;
    text-align: center;
    display: inline-block;
   
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #FFCD09;
}

.button:hover {
    background-color: #FFCD09;
    color: white;
}


/* End Full Width 'Jumbotron'! */


/* Nav! */
.navbar {
	font-family: 'Rokkitt', serif;
	font-size:1.85rem;
	min-height: 70px;
}

/*.collapsed {
	margin-top:18px;
}

.in {
	margin-top:18px;
}

.collapsing {
	margin-top:18px;
} */


.navbar-header {
	height:70px;
}

.navbar-toggle {
	margin-top:18px;
}


/* Nav! */


/* Footer! */
.footer{
	background-color: #333333;
	padding-top:4rem;
	padding-bottom: 5rem;
	margin:0;
}

.footer p{
	color:#fff;
}

.footer h4{
	color:#fff;
}

.social{
	list-style-type: none;
	padding:0;
	margin-top:0;
	margin-bottom:1.4rem;
}

.social li {
	display:inline;
	margin-right:5px;
	
}

.social li img{
	height:25px;
	margin-bottom:10px;
}

.social li:hover{
	opacity:.5;

	transition: ease-in-out .2s;
}

.hours li {
	color:#fff;

}

.hours {
	list-style-type: none;
	padding-left:0;
}

.copyright{
	font-size:1.2rem;
}


/* End footer! */



@media (min-width: 768px) {

.navbar {
	height: 70px;
}

.navbar ul {
	height: 70px;
}

.navbar ul li {
	height: 70px;	
}

.navbar ul li a {
	height: 70px;
	padding-top: 25px;
}

}

@media (min-width:992px) {

.container {
	max-width:1000px;
}
}