html {
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	padding-top:4rem;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

h2 {
	padding-top:4rem;
	font-weight:700;
}

.large-icon {
	font-size:5rem;
	color:green;
}

.center {
	text-align:center;
}

.row {
	margin-bottom: 2rem;
	margin-top:2rem;
}

.footer {
	margin-bottom: 3rem;
	margin-top:4rem;
}

#map {
	width:100%;
	height:40rem;
}